<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="registerform(form)">​

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Ingrese su primer nombre" type="text" (ionChange)="checkLen(1)" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input placeholder="Ingrese su apellido" type="text" (ionChange)="checkLen(2)" [(ngModel)]="apellido" name="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="nombre@gmail.com" type="text" (ionBlur)="checkEmail()" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type='number' placeholder="ejemplo, 26" (ionBlur)="checkNumber(1)" [(ngModel)]="edad" name="edad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input type='text' placeholder="ejemplo, Bucaramanga" (ionChange)="checkLen(3)" [(ngModel)]="ciudad" name="ciudad"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type='tel' placeholder="3xx xxx xxxx" (ionBlur)="checkNumber(2)" [(ngModel)]="telefono" name="telefono"></ion-input>
    </ion-item>

    <ion-item>​
      <ion-select placeholder="Equipo" [multiple]="false" [(ngModel)]="equipo" name="equipo">​
        <ion-select-option value="batman">Batman</ion-select-option>​
        <ion-select-option value="superman">Superman</ion-select-option>​
        <ion-select-option value="capAmerica">Capitan America</ion-select-option>​
      </ion-select>​
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type='password' (ionChange)="checkLen(4)" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" type="submit">Enviar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="pushCancel()">Cancelar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="resetValues()">Reset</ion-button>
        </ion-col>
    ​   </ion-row>
    </ion-grid>

  </form>
</ion-content>
