<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="6" style="background-color: red;">
        ion-col 
      </ion-col>
      <ion-col style="background-color: blue;">
        ion-col
      </ion-col>
      <ion-col style="background-color: green;">
        ion-col
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" style="background-color: red;">
        ion-col [size="3"]
      </ion-col>
      <ion-col style="background-color: blue;">
        ion-col
      </ion-col>
      <ion-col size="3" style="background-color: green;">
        ion-col [size="3"]
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button>
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <div>2 of 4</div>
      </ion-col>
      <ion-col>
        <div>3 of 4</div>
      </ion-col>
      <ion-col>
        <div>4 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
