<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Buscar</ion-label>
    <ion-input placeholder="Ingrese una letra para empezar a buscar" 
    type="text" (ionChange)="updateFilterData()" [(ngModel)]="search" name="search"
    (ionFocus)="updateData()"></ion-input>
  </ion-item>

  <ion-item *ngFor="let item of filteredData;">
    <ion-label>{{ item.nombre }} {{ item.apellido }}</ion-label>
  </ion-item>
</ion-content>
